:root {
  --primary-color: #5398be;
  --secondary-color: #750d37;
  --background-color: #1a3737;
  --text-color: #ffffff;
  --grey-90: #cae7e7;
  --grey-80: #bad7d7;
  --grey-70: #aac7c7;
  --grey-60: #9ab7b7;
  --grey-50: #8aa7a7;
  --grey-40: #7a9797;
  --grey-30: #6a8787;
  --grey-20: #5a7777;
  --grey-10: #4a6767;
}
